.profile{
    height:500px;
   width: auto;
   margin: auto 200px;
}
  
  .container {
    background-image: url('../img/bacground.jpg');
    background-size: cover;
    height: auto;
    width: auto;
    margin: 30px auto;
    padding: 30px;
  }
  
  .border {
    width: auto;
  }
  
  @media only screen and (max-width: 360px) {
    .profile {
      height: 300px;
      width: 250px;
    }
  }
  
  @media only screen and (min-width: 361px) and (max-width: 412px) {
    .profile {
      height: 350px;
      width: 280px;
    }
  }
  
  @media only screen and (min-width: 413px) and (max-width: 768px) {
    .profile {
      height: 380px;
      width: 300px;
    }
  }